{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Share a post
{% endblock title %}
{% block content %}
  <div class="container my-5" style="max-width: 500px;">
    {% if sent %}
      <h1 class="h4 text-success">E-mail successfully sent</h1>
      <p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</p>
    {% else %}
      <h1 class="h4 mb-4">Share "{{ post.title }}" by e-mail</h1>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-2 w-100">Send e-mail</button>
      </form>
    {% endif %}
  </div>
{% endblock content %}
